.mpcontainer{
    display: flex;
    min-width: auto;
    width: 20em;
    min-height: auto;
    height: 15em;
    background-color: rgb(69, 69, 233);
    flex-direction: column;
    justify-self: center;
    align-self: center;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 1em;
    margin: 0 10px 0 10px;
}
.mpBtns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 10px 0 10px;
}
button{
    color: white;
    height: 2em;
    width: auto;
    background-color: rgb(14, 14, 88);
    border: none;
}
.microphoneText{
    color: white;
}